/src/main/webapp/protected/product_type_1.xhtml
/src/main/webapp/protected/product_type_2.xhtml
/src/main/webapp/protected/product_type_detail_1.xhtml
/src/main/webapp/resources/components/leftMenu_bck_20171101.xhtml
/src/main/webapp/resources/components/leftMenu_BCK.xhtml
/src/main/webapp/resources/templates/mainTemplate_bck_20171101.xhtml
/src/main/webapp/resources/templates/newxhtml.xhtml
/src/main/webapp/resources/templates/mainTemplate_BCK.xhtml
/src/main/webapp/resources/templates/mainTemplate_OLD.xhtml
/src/main/webapp/welcomePrimefaces_1.xhtml
/src/main/java/es/billingweb/controller/MT_ProductTypeController1.java
/src/main/java/es/billingweb/controller/MT_ProductTypeDetailController1.java
/src/main/java/es/billingweb/filter/ResponseBufferSizeFilter.java
/src/main/java/es/billingweb/filter/SearchDateRangeFilter.java
/src/main/java/es/billingweb/listener/MessageHandler.java
/src/main/java/es/billingweb/listener/
/src/main/java/es/billingweb/others/GeneralEntityList.java
/src/main/java/es/billingweb/utils/BillingWebPopulateObjects.java
/src/main/java/es/billingweb/validator/UserStartDateValidator_BCK_20170504.java